<nav>
        <ul>
          <li><a href="/">Portfolio</a></li>
          <li><a href="/about" class="selected">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <section>
        <img src="img/Alexander Ross.jpeg" alt="Photograph of Alexander Ross" class="profile-photo">
        <h3>About</h3>
        <p>Hi, I am Alexander Ross! This is my developer portfolio where I share my favroite work.  When I am not sitting in the dark pretending to be a ninja while coding, I like to get out and climb mountains, go backpacking in the snow, and play video games with my son. (usually when I am recovering from the frist two hobbies!)</p>
        <p>If you'd like to follow me on Twitter, my username is <a href="https://twitter.com/AlexanderSRoss">@alexandersross</a>.</p>
      </section>