<nav>
        <ul>
          <li><a href="/">Portfolio</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact" class="selected">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <section id="primary">
        <h3>General Information</h3>
        <p>I am currently looking for new development work.  If you have any questions or are interested in contracting with me, please don't hesitate to reach out to me!</p>
        <p>Email or twitter is the best way to reach me and I look forward to hearing from you!</p>
      </section>
      <section id="secondary">
        <h3>Contact Details</h3>
        <ul class="contact-info">
          <li class="phone"><a href="tel:555-5555">555-5555</a></li>
          <li class="mail"><a href="mailto:alex@alexross.tech">alex@alexross.tech</a></li>
          <li class="twitter"><a href="https://twitter.com/intent/tweet?screen_name=@alexandersross">@alexandersross</a></li>
        </ul>
      </section>