<nav>
        <ul>
          <li><a href="/" class="selected">Portfolio</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <section>
        <ul id="gallery">
          <li>
            <a href="img/lily_website.png">
              <img src="img/lily_website.png" alt="">
              <p>Website for a baby cream company with glass menues.</p>
            </a>
            <a id="code" href="https://github.com/AlexanderCode/Lily-Website">See the code here!</a>
          </li>
          <li>
            <a href="img/example_personal_site.png">
              <img src="img/example_personal_site.png" alt="">
              <p>A personal website with starry background and smokey menues.</p>
            </a>
            <a id="code" href="https://github.com/AlexanderCode/MyProjects/tree/master/sinatra_personal_site">See the code here!</a>
          </li>
          <li>
            <a href="img/styles_conference.png">
              <img src="img/styles_conference.png" alt="">
              <p>Styles Conference website made from just CSS and HTML</p>
            </a>
            <a id="code" href="https://github.com/AlexanderCode/HTML_and_CSS_Practice/tree/master/styles-conference">See the code here!</a>
          </li>
          <li>
            <a href="img/Wiki.png">
              <img src="img/Wiki.png" alt="">
              <p>A Wiki built on sinatra to work with html requests: get, post, put, and delete.</p>
            </a>
            <a id="code" href="https://github.com/AlexanderCode/MyProjects/tree/master/sinatra_practice">See the code here!</a>
          </li>
          <li>
            <a href="img/numbers-12.jpg">
              <img src="img/numbers-12.jpg" alt="">
              <p>Creating shapes using repetition.</p>
            </a>
          </li>
        </ul>
      </section>