<!doctype html>
<html>

  <head>
    <link rel="stylesheet" href="/Stylesheets/main.css">
    <title><%= @title %></title>
  </head>

  <body>
      <nav>
        <ul>
          <li><a href="/">Home</a></li><!--
          --><li><a href="/projects">Projects</a></li><!--
          --><li><a href="/about_me">My Background</a></li><!--
          --><li><a href="/contact">Contact Me</a></li>
        </ul>
      </nav>
    <div id="top-container">
      <img id="image" src="/images/alex.jpeg" title="Alexander Ross" alt= "Alexander Ross">
      <div id="main-container">
        <h1><span>Alexander Ross</span></h1>
        <p><span><%= yield %></span></p>
      </div>
    </div>
    <footer>
      <ul>
        <li><a href="/contact"><strong>Phone</strong></a></li><!--
        --><li><a href="/contact"><strong>Email</strong></a></li><!--
        --><li><a href="https://github.com/AlexanderCode"><strong>Git Hub</strong></a></li>
      </ul>
    </footer>
  </body>
</html>

