* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-image: url("/images/starry-night.jpg");
  color: white;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav {
  /*mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);*/
  margin: 0 auto;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 0, 0, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
}
#top-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
#image{
  height: auto;
  width: auto;
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%
}
footer {
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
footer li {
  margin-left: 10%;
  width: 300px;
  float: left;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3), inset 0 0 1px rgba(0, 0, 0, 0.7);
}
footer li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
footer li a:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 300px;
}
footer li a.active {
  color: white;
  background-color: #4CAF50;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#main-container {
  padding-left: 50px;
}
#main-container span {
  background-color: rgba(0, 0, 0, 0.3);
}
#lily-page {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}
#projects {
  margin: 60px 0 0 30px;
}
form {
  width: 100%;
  margin: auto;
}
label {
  display:block;
  position: relative;
}
label span {
  font-weight: bold;
  position: absolute;
}
label input, label textarea, label select {
  margin-left: 160px;
  }
#phone {
  width: 100%;
  margin: auto;
}
fieldset {
  border: 0;
}
#contact {
  margin: auto;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3), inset 0 0 1px rgba(0, 0, 0, 0.7);
}
#subscribe-text {
  width: 100%;
  margin: auto;
}